:host {
    img {
        max-height: 100%;
        max-width: auto;

        object-fit: contain;

        border-radius: 50%;
        border: solid 2px;

        border-color: var(--faction-color);
    }
}
