<ng-container *ngIf="viewModel$ | async as $">
    <div class="container">
        <div
            class="experience-point"
            *ngFor="let step of $.experiencePointSteps"
        >
            <div class="step">
                <span class="level" *ngIf="step.level > 0; else point">
                    Niveau {{ step.level }}
                </span>
                <ng-template #point>{{ step.experience }} </ng-template>
            </div>
            <div class="characters">
                <app-character-token
                    class="icon"
                    *ngFor="let character of step.players"
                    [characterIdentifier]="character.id"
                ></app-character-token>
            </div>
        </div>
    </div>
</ng-container>
