.container {
    box-sizing: border-box;

    padding: 5px;

    display: flex;
    flex-direction: column-reverse;

    width: fit-content;
    height: 100%;

    .experience-point {
        display: flex;

        align-items: center;

        width: fit-content;
        height: 100%;

        .step {
            padding: 5px;

            display: flex;
            align-items: center;
            justify-content: end;

            border-right: solid 1px black;

            width: 60px;
            height: 100%;

            .level {
                -webkit-text-stroke: 0.4px black;
                color: yellow;
            }
        }

        .characters {
            padding: 5px;

            display: flex;
            align-items: baseline;
            justify-content: start;

            width: fit-content;
            height: inherit;

            // TODO: Replace by actualised value
            .icon {
                height: 24px;
                padding-right: 3px;
            }
        }
    }
}
